

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-family: Arial, sans-serif;
  background-image: url("https://i.imgur.com/mQRaTvN.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.msg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    color: red;
    font-weight: bold;
    position: fixed;
    bottom: 95px;
    display: flex;
}

#audi {
    position: fixed;
    bottom: 20px;
    left: 10%;
}