body {
  font-family: Arial, sans-serif;
  background-image: url(https://s4.aconvert.com/convert/p3r68-cdx67/asm46-l7tt1.jpg);
  background-repeat: no-repeat;
 background-size: cover;
}


#audio {
  display: none;
}